<!-- <p>
  job-lists works!
</p> -->
<!-- first panel for job lists -->
<div class="container"  >
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Jobs List</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

       <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableWidth">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="textCenter"> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="textCenter"> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Duration Column -->
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef class="textCenter"> Duration </th>
          <td mat-cell *matCellDef="let element"> {{element.created_at| date: 'dd/MM/yyyy'}} - {{element.end_date| date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef class="textCenter"> State </th>
          <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" style = "cursor: pointer;"  mat-row (click)="itemDetails(row)"></tr>
      </table>
  </mat-expansion-panel>
</mat-accordion>
</div>
<!-- second panel for job details -->
  <div  class="container" >
    <mat-accordion>
      <mat-expansion-panel   [expanded]="expandPanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Selected Job details  <span *ngIf="rowDetails"> with ID : {{ rowDetails.id}}  </span> </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
      <p *ngIf="selectedRowIndex == -1">No job item is selected!</p>
      <div *ngIf="rowDetails">
        <mat-list  class = "highlight mat-list" >
        <mat-list-item> <label>Title:  </label> {{ rowDetails.title}} </mat-list-item>
        <mat-list-item> <label>City:  </label> {{ rowDetails.city}} </mat-list-item>
        <mat-list-item> <label>Creation Date: </label> {{ rowDetails.created_at| date: 'dd/MM/yyyy'}} </mat-list-item>
        <mat-list-item> <label>End Date: </label> {{ rowDetails.end_date| date: 'dd/MM/yyyy'}} </mat-list-item>
        <mat-list-item> <label>Zip Code: </label> {{ rowDetails.zip_code}} </mat-list-item>
        <mat-list-item> <label>Categories: </label>
                <ul>
                   <li *ngFor="let cat of rowDetails.categories">
                     {{ cat.id }}
                   </li>
               </ul>
        </mat-list-item>
        <mat-list-item style="height: auto; text-align: left;" > <label>Description:  </label> <p>{{ rowDetails.description}}</p> </mat-list-item>
        </mat-list>
      </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
